/*-------------home--------------*/

.home__services--df{
    display: flex;
    align-items: center;
}

.text-highlight span {
    display: inline-block;
    left: -1px;
    position: absolute;
    z-index: -1;
    width: calc(100% + 6px);
}

.home__sss--df{
    display: flex;
    align-items: center;
}