/*-------------home--------------*/

.home__services--df{
    display: flex;
    align-items: center;
}

.text-highlight span {
    display: inline-block;
    left: -1px;
    position: absolute;
    z-index: -1;
    width: calc(100% + 6px);
}

.home__sss--df{
    display: flex;
    align-items: center;
}

.bg-base-color {
    background-color: #49acfd !important;
}

/*-------------reference--------------*/

.referene__gr{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 50px;
}

/*-------------footer--------------*/

.footer__gr{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 30px;
}

.footer__pages{
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
}

.footer__pages--pl{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

footer .footer-logo img {
    max-height: 100%;
}

.footer__icon--df{
    display: flex !important;
    justify-content: center;
    gap: 10px;
}

.footer__list{
    height: 100%;
}